* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 13vh;
}

h1 {
    padding-left: 1rem;
    width: 250px;
}

.brand {
    display: flex;
    align-items: center;
}

button {
    padding: 0.1rem 1.5rem;
}

select {
    padding: 0.1rem 0.7rem;
}

main {
    height: 80vh;
    background-color: #7fffd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    height: 7vh;
    padding-left: 1rem;
}

.grid {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.quadrato {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_blue {
    background-color: blue;
    color: white;
}